:root{
    --background: #ffeec8;
    --text-color: rgb(37,99,37);

}

.header 
{
   background-color: var(--background);
}

.menu-color{
   color: var(--text-color);
    font-weight: 500;
    font-size: 18px;

}

.hero-container
{
   background-color: var(--background);
}

.hero-text
{
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
}
.d-text
{
    color: var(--text-color);
    
}

.del-img 
{
 height: 150px;
 
 padding-left: 30%;


 
    
}
.i
{
    padding-left:5px ;
    padding-right: 5px;
}

.nform
{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}






